In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [2]:
data=pd.read_csv('heart.csv')

In [3]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [4]:
data.shape[0]
#data.shape[1]

1025

In [5]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [6]:
data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [7]:
xtrain=data.iloc[:1000,:13]
#X=ds.drop(columns='Class',axis=1)
#Y=ds[['class']]
#xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=2)

In [8]:
xtrain

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44,1,1,120,263,0,1,173,0,0.0,2,0,3
996,56,0,0,134,409,0,0,150,1,1.9,1,2,3
997,54,1,0,120,188,0,1,113,0,1.4,1,1,3
998,42,1,0,136,315,0,1,125,1,1.8,1,0,1
999,67,1,0,125,254,1,1,163,0,0.2,1,2,3

In [9]:
ytrain=data.iloc[:1000,13:]

In [10]:
ytrain

     target
0         0
1         0
2         0
3         0
4         0
..      ...
995       1
996       0
997       0
998       0
999       0

[1000 rows x 1 columns]

In [11]:
xtest=data.iloc[1000:,:13]

In [12]:
xtest

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
1000,64,1,0,145,212,0,0,132,0,2.0,1,2,1
1001,42,1,0,140,226,0,1,178,0,0.0,2,0,2
1002,66,1,0,112,212,0,0,132,1,0.1,2,1,2
1003,52,1,0,108,233,1,1,147,0,0.1,2,3,3
1004,51,0,2,140,308,0,0,142,0,1.5,2,1,2
1005,55,0,0,128,205,0,2,130,1,2.0,1,1,3
1006,58,1,2,140,211,1,0,165,0,0.0,2,0,2
1007,56,1,3,120,193,0,0,162,0,1.9,1,0,3
1008,42,1,1,120,295,0,1,162,0,0.0,2,0,2
1009,40,1,0,152,223,0,1,181,0,0.0,2,0,3
1010,51,1,0,140,299,0,1,173,1,1.6,2,0,3
1011,45,1,1,128,308,0,0,170,0,0.0,2,0,2
1012,48,1,1,110,229,0,1,168,0,1.0,0,0,3
1013,58,1,0,114,318,0,2,140,0,4.4,0,3,1
1014,44,0,2,108,141,0,1,175,0,0.6,1,0,2
1015,58,1,0,128,216,0,0,131,1,2.2,1,3,3
1016,65,1,3,138,282,1,0,174,0,1.4,1,1,2
1017,53,1,0,123,282,0,1,95,1,2.0,1,2,3
1018,41,1,0,110,172,0,0,158,0,0.0,2,0,3
1019,47,1,0,112,204,0,1,143,0,0.1,2,0,2
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3

In [13]:
ytest=data.iloc[1000:,13:]

In [14]:
ytest

      target
1000       0
1001       1
1002       0
1003       1
1004       1
1005       0
1006       1
1007       1
1008       1
1009       0
1010       0
1011       1
1012       0
1013       0
1014       1
1015       0
1016       0
1017       0
1018       0
1019       1
1020       1
1021       0
1022       0
1023       1
1024       0

In [15]:
K=KNeighborsClassifier(n_neighbors=3,metric='euclidean')
K.fit(xtrain,ytrain)

c:\Users\IT PARK\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\neighbors\_classification.py:238: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(metric='euclidean', n_neighbors=3)

In [16]:
pred=K.predict(xtest)

In [17]:
pred

array([0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 0], dtype=int64)

In [18]:
con = confusion_matrix(ytest,pred)
con

array([[14,  0],
       [ 0, 11]], dtype=int64)

In [19]:
acc=accuracy_score(pred,ytest)

In [20]:
acc

1.0